body{
   font-family:"Outfit", sans-serif; 
   margin:0;
   padding:0;
}
.bussiness-idea{
    background-color: #000000;
    color:#00000089;
    width: 100%;
    height: 100%;
   
}
.bussiness-idea_1 {
    max-width:1140px;
    margin:0 auto;
     padding:120px 30px 0px;
}
.buss-top{
    margin:0 0 120px 0px;
}
.buss-header{
   color:#00000080;
   font-size:16px;
   padding:0px 15px;
}
.buss-brand{
    display:inline-block;
    color:#FFFFFF66;
    font-size:16px;
    display: flex;
    justify-content: flex-end;
    margin:0px 0px 60px;
}
.ideas{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0px 0px 15px;
}
.ideas-img{
    width:250px;
    height:80px;
    border-radius: 100px;
   margin:0px 30px 0px 0px;
}
.idea-head{
    color:#FFFFFFE6;
    font-size:clamp(32px,6vw,82px);
    display:flex;
    gap:10px;
}
.buss-bold {               
  color: #FFFFFFE6;                         
}
.bussiness{
    color:#00000080;
    font-size:16px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.bus-head{
    color:#FFFFFFE6;
    font-size:clamp(32px,6vw,82px);
    display:flex;
    align-items: center;
    justify-content: center;
}
.buss-btn{
    max-width: 250px;
    height:70px;
    background-color: #ffa500;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 15px 0 50px;
    margin:0 0 0 30px;
    gap:10px;
    cursor:pointer;
}
.btn-yellow{
    font-size:12px;  
    background-color: #ffa500;
    border: none; 
    font-weight:500px;
    cursor: pointer;
}
.ideas-circle{
    width:25px;
    height:25px;
    background:#000000;
    border-radius: 50%;
    margin:0 0 0 30px;
    padding:10px;
     display: flex;
    align-items: center;
    justify-content: center;
}
.ideas-arrow{
    color:#ffa500; 
}
.buss-designs{
    display:flex;
    color:#FFFFFF;
    cursor:pointer;
}
.brand-des,.web-design,.advertising,.consulting{
    padding:60px 30px;
    border:1px solid #808080;
    border-bottom:none;
    transition: all 0.3s ease;
}
.buss-designs h2{
    color:#FFFFFFE6;
    font-size:20px;
    margin:0 0 30px;
}
.buss-designs p{
    font-size:16px;
    margin:0 0 30px;
    color:#FFFFFF66;
   visibility: hidden;
}
.buss-designs:hover p {
  visibility: visible; 
}
.buss-circle{
    width: 20px;
    height:20px;
    background-color: #808080;
    border-radius:50%;
     font-size:12px;
    display:flex;
    align-items: center;
    justify-content: center;
  
}
.buss-arrow{
    color:#000000;
    font-size:14px;
     display:flex;
    align-items: center;
    justify-content: center;
}
.buss-circle:hover{
    width: 40px;
    height:40px;
    background-color:#ffa500;
    border-radius:50%;
     font-size:20px;
    display:flex;
    align-items: center;
    justify-content: center;
      transition: all 0.3s ease;
}
@media (max-width: 992px) {
  .idea-head,
  .bus-head {
    font-size: clamp(16px, 7vw, 86px);
  }

  .buss-btn {
    width:100%;
    max-width:170px;
    height:40px;
    margin-left: 10px;
    padding: 10px 20px;
  }

}
@media (max-width: 720px) {
  .bussiness-idea {
    padding: 60px 15px 30px;
  }
  .buss-header{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .idea-head,
  .bus-head {
    font-size: clamp(24px, 8vw, 36px);
  }
  .ideas-img{
    display:none;
  }
  .bussiness{
    display:flex;
    flex-direction:column;
  }
  .buss-btn {
    width:100%;
    max-width:170px;
    height:50px;
    justify-content: center;
    margin: 20px 0 0;
  }

  .brand-des,
  .web-design,
  .advertising,
  .consulting {
    flex: 1 1 100%; 
  }

  .buss-designs {
    display:flex;
    flex-direction: column;
    gap: 15px;
  }

  .buss-designs h2 {
    font-size: 18px;
  }

  .buss-designs p {
    font-size: 13px;
  }
}
   

    