.home{
    background:#000000;
    color:white;
    width:100%;
    height:50vh;
    padding:70px;
    padding-top:350px;
    text-align:left;
    display:flex;
    flex-direction: column;
    margin-bottom:60px;
}
.home-one {
  margin-bottom: 80px;
  font-size:thin;
}
.home-one p{
  margin-bottom: 80px;
}
.highlight{
    font-weight: bold;
    font-size:50px;
}
.header{
    font-size:30px;
    font-weight:600px;
    line-height: 1.6;
}
.description{
    color:#808080;
    font-size:20px;
    width:90%;
    line-height: 2.0;
}
.buttons{
    display:flex;
    justify-content:space-between; 

}
.btn-whatwedo{
    display:inline-block;
    width:200px;
    background:#ffa500;
    color:#000000;
    text-align: left;
    padding:30px;
    border-radius:50px;
    cursor: pointer;
    
}
.btn-viewwork{
    color:#FFFFFF;
    width:250px;
    border-radius:3cap;
     cursor: pointer;
    padding:50px;
    align-items: center;
}
.circle{
   text-align: center;
    justify-content: center;
    align-items: center;
    height:30px;
   
}
.what-arrow{
    display:inline-block;
    font-size:50px;
    margin-left:-60px;
    margin-right:50px;
   text-align: center;
   background-color: #000000;
   border-radius: 100%;
   width:60px;
   height:60px;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
.view-arrow{
    background-color: #808080;
    border-radius: 100%;
    text-align: center;
    display:inline-block;
    font-size:30px;
   width:50px;
   height:50px;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.btn-scroll{
    display:flex;
    gap:20px;
    margin-left:100px;
    cursor: pointer;
    padding:25px;
    margin-right:9cap;
}
.studio{
    display:flex;
    justify-content: space-between;
    text-align:left;
    margin:20px;
   
}
.left-section{
   min-width:300px;
    flex:1;

}
.right-section{
    flex:1;
    min-width:300px;
}
.stu-header{
    flex:1;
    font-weight:bold;
    font-size:40px ;
    margin-bottom: 50px;  
}
.stu-head1{
    flex:1;
    font-weight:300px;
    font-size:80px;
    
}
.stu-description{
    flex:1;
    color:#808080;
    font-size: 20px;
    width:100%;
    margin-bottom: 50px;
    line-height:1.6;
}
.about-image{
    display:flex;
    gap:20px;
}
.right-section {
    max-width:100%;
    height:auto;
}
.bold{
    font-weight:bold;
    color:#000000;
   
}
.light{
    font-weight:normal;
    color:#808080;
    
}
.profile-img{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-right:15px;
}
.stu-img{
    width:100%;
    height:100vh;
    border-radius: 10px;
    object-fit: cover;
}
@media screen and (max-width:1024px){
    .studio{
        flex-direction:column;
        padding:20px;
    }
    .about-image{
        flex-direction: column;
        align-items:flex-start;
    }
    .left-section{
        order:1;
    }
    .right-section{
        order:2;
    }
    .img-det{
        display:flex;
        margin-bottom: 50px;;
    }
}
.bussiness-idea{
    background-color: #000000;
    color:#FFFFFF;
    margin-bottom: 50px;
    padding:100px;
   
}
.buss-brand {
    color: #808080;
    text-align: right;
    padding-left:150px;
    
}
.buss-head{
    color:#808080;
    text-align: right;
    padding-left:50px;
}
.ideas{
    display:flex;
    gap:20px;
    padding:20px;
    margin-bottom: 50px;
}
.ideas-img{
    width:250px;
    height:70px;
    margin-top: 30px;;
    border-radius:50px;
    margin-bottom: 50px;
}
.buss-bold{
    font-size:90px;
}
.bussiness{
    display:flex;
    gap:20px;
   margin-left:70px;
    margin-bottom: 150px;
}
.buss{
    font-size:90px;
    margin-bottom:20px;
}
.btn-yellow{
    width:250px;
    border:none;
    font-size:18px;
    font-weight:bold;
    background-color: #ffa500;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align:center;
    height:80px;
}
.buss-designs{
    display:flex;
    border:1px solid #808080;
    margin-top: 20px;
    margin:20px;
    height:90vh;
   
}
.brand-des{
    border:1px solid #808080;
    text-align: left;
    padding-top: 80px;
     padding-left: 20px;
}
.web-design {
    border:1px solid #808080;
      text-align: left;
    padding-top: 50px;
     padding-left: 20px;
}
.advertising {
      text-align: left;
      padding-top: 80px;
    padding-left: 20px;
}
.consulting{
     border:1px solid #808080;
     text-align: left;
     padding-top: 50px;
     padding-left: 20px;
}
@media screen and (max-width:1024px){
    .bussiness-idea{
        display:flex;
        flex-direction: column;
    }
    .buss-head{
    color:#808080;
    text-align: right;
    padding-left:50px;
}
    .ideas-img{
        visibility: hidden;;
    }
    .buss-designs{
        display:flex;
        flex-direction:column;
    }
    .brand-des{
        padding-top:20px;
        padding-bottom:100px;
    }
    .web-design{
         padding-top:20px;
         padding-bottom:100px;
    }
    .advertising {
        padding-top:20px;
        padding-bottom:100px;
    }
    .consulting{
        padding-top:20px;
         padding-bottom:100px;
    }
}
.team{
    display:flex;
    justify-content: space-between;
    padding-top:20px;

}
.team-description h2{
    font-size:50px;
    text-align: left;
    padding-left:50px;
     padding-top:100px;
     margin-bottom: 50px;
}
.team-p{
    color:#808080;
    font-size:20px;
    padding-left:50px;
    text-align: left;
    line-height:1.2;
    margin-bottom: 50px;
   
}
.read-more{
    width:300px;
    padding:30px;
    text-align: left;
    border-radius: 50px;
    border:none;
    background-color: #ffa500;
    margin-bottom:50px;
    margin-left: -600px;
}
.team-result{
     text-align: left;
     padding-left:50px;
     font-size:30px;
}
.team-bold{
    font-weight:bold ;
}
 .anna{
   width:45%;
    padding-top:20px;
    margin-top:10px;
}
.oscar{
   width:45%; 
   padding-top:20px;
   margin-left: 20px;
   padding-left:20px;
   
}
.emma{
    width:45%; 
     padding-top:20px;
}
.lisa{
    width:45%; 
    padding-top:20px;
    margin-left: 20px;
    margin-top:10px;
    padding-left:20px;
}
@media screen and (max-width:1024px){
    .team{
        display:flex;
        flex-direction:column
    }
    .team-description h2{
        display:flex;
        padding-left:50px;
        flex-direction:column;
        text-align: left;
    }
     .team-description br{
        display:none;
     }
      .team-description span{
        display:inline;
     }
    
}
.customer-voice{
    background:#808080;
}
.cv-head{
    text-align: left;
}
.cv-bold{
    font-size:60px;
    font-weight: bold;
}
.cv-light{
    font-size:50px;
    font-weight: normal;
    padding-left: center;
}
@media (min-width: 1025px){
 .publications{
    margin:0 40px;
 }
 .pub-head{
    font-size:40px;
    margin:100px 250px;
 }
 .pub-view{
    font-size:20px;
    margin:100px 250px;
 }
.pub-nav{
    display:flex;
    justify-content: space-between;
}
.pub-img{
    display:flex;
    gap:40px;
    padding-left: 30px;;
}
.pub-about{
    text-align: left;
}
.pub-design-img{
    width:700px;
    margin-left:250px;

}
.pub-course-img{
    width:700px;
   margin-right:250px;
}
.pub-courses{
    text-align: left;
}
.pub-date-d{
    font-size:25px;
    
}
.pub-tech-d{
    color:#ffa500;
    margin-left:250px;
}
.pub-year-d{
    color:#808080;
}
.pub-header-d{
    font-size:30px;
    margin-left:250px;
}
.pub-description-d{
    color:#808080;
    margin-bottom: 40px;
    margin-left:250px;
}
.pub-readmore-d{
    font-size:15px;
    font-weight:bold;
    margin-bottom:30px;
    margin-left:250px;
}
.pub-date-c{
    font-size:25px;
    
}
.pub-tech-c{
    color:#ffa500;
    
}
.pub-year-c{
    color:#808080;
}
.pub-header-c{
    font-size:30px;
    
}
.pub-description-c{
    color:#808080;
    margin-bottom: 40px;
   
}
.pub-readmore-c{
    font-size:15px;
    font-weight:bold;
    margin-bottom:30px;
    
}
}
@media screen and (max-width:1024px){
    .publications{
        display:flex;
        flex-direction: column;
    }
    .pub-nav{
    display:flex;
    flex-direction: column;
    font-size:50px;
}
.pub-head{
    text-align: left;
    padding-left:30px;
     font-size:60px;
}
.pub-view{
    text-align: left;
    padding-left:30px;
     font-size:20px;
     margin-bottom:40px;
}
.pub-img{
    display:flex;
    flex-direction:column;
    padding-left:30px;
}
.pub-about{
    text-align: left;
    margin-bottom:100px;
}
.pub-courses{
    text-align: left; 
}
.pub-img img{
    width:95%;
}
.pub-date-d{
    font-size:25px;
    
}
.pub-tech-d{
    color:#ffa500
}
.pub-year-d{
    color:#808080;
}
.pub-header-d{
    font-size:30px;
}
.pub-description-d{
    color:#808080;
    margin-bottom: 40px;
}
.pub-readmore-d{
    font-size:15px;
    font-weight:bold;
    margin-bottom:30px;
}
.pub-date-c{
    font-size:25px;
    
}
.pub-tech-c{
    color:#ffa500
}
.pub-year-c{
    color:#808080;
}
.pub-header-c{
    font-size:30px;
}
.pub-description-c{
    color:#808080;
    margin-bottom: 40px;
}
.pub-readmore-c{
    font-size:15px;
    font-weight:bold;
    margin-bottom:30px;
}
.pub-courses{
    text-align: left;
    margin-bottom:100px;
}
.pub-courses br{
    display:none;
}
.pub-about br{
    display:none;
}
}
@media screen and (min-width:1025px){
    .footer{
        background: #000000;
        color:#FFFFFF;
        margin-top: 50px;;
    }
   .footer-content{
    display:flex;
    justify-content: space-between;
    text-align: left;
    margin-left:250px;
    padding-top: 100px;
   }
   .footer-left h2{
    font-size:50px;
     margin-bottom: 50px;
   }
   .footer-left p{
    font-size:20px;
    color:#808080;
    margin-bottom: 40px;
   }
   .email input{
    width:350px;
    padding:40px;
    background:transparent;
    border-radius: 50px;
    margin-bottom: 350px;
   }
   .footer-center ul{
        list-style: none;
        font-size:40px;
        font-weight:bold;
        line-height: 2;
   }
   .footer-center .active{
    color:#ffa500;
   }
   .footer-center,.footer-right{
    flex:1;
    min-width:200px;
   }
   .footer-right ul{
    list-style:none;
    font-size: 20px;
    color:#808080;
    margin-top:50px;
    line-height:2.5;

   }
   .footer-address{
    display:flex;
    flex:1;
    color:#aaa;
    justify-content: space-between;
    flex-wrap:wrap;
    line-height:1.5;
    margin-top:20px;
   }
   .footer-address > div{
    width:45%;
    font-size:15px;
    flex:1 1 100%;
   }
}
@media  screen and (max-width:1024px) {
    footer{
        display:flex;
        flex-direction: column;
        background-color: #000000;
        color:#FFFFFF;
        
    }
    .footer-content{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-left:50px ;
    padding-top: 100px;
   }
   .footer-left h2{
    font-size:50px;
     margin-bottom: 50px;
   }
    .footer-left p{
    font-size:20px;
    color:#808080;
    margin-bottom: 40px;
   }
   .email input{
    width:350px;
    padding:40px;
    background:transparent;
    border-radius: 50px;
   }
    .footer-center ul{
        list-style: none;
        font-size:40px;
        font-weight:bold;
        line-height: 2;
   }
   .footer-center .active{
    color:#ffa500;
   }
    .footer-center,.footer-right{
    flex:1;
    min-width:200px;
   }
   .footer-right ul{
    list-style:none;
    font-size: 20px;
    color:#808080;
    margin-top:50px;
    line-height:2.5;

   }
   .footer-address{
    display:flex;
    flex:1;
    color:#aaa;
    justify-content: space-between;
    flex-wrap:wrap;
    line-height:1.5;
    margin-top:20px;
    margin-left:30px;
   }
   .footer-address > div{
    width:45%;
    font-size:15px;
    flex:1 1 100%;
   }
   .footer-address br{
    display: none;
   }
}
