/* @media (min-width: 1025px) { */
     body{
        font-family:"Outfit", sans-serif;
    }
    .publications{
      width:74vw;
      height:100%;
      font-size:16px;
      margin:0 164px;
      padding:120px 30px 60px;
    }
    .pub-nav{
        width:1150px;
        height:80px;
        font-size:16px;
        color:#00000080;
        display:flex;
        justify-content: space-between;
        margin:0 -15px 30px;
    }
    .pub-head{
        width:555px;
        height:50px;
        color:#000000;
        font-size:42px;
        margin:0 0 30px;
        padding:0 15px;
    }
    .publication-btn{
        width:125px;
        height:40px;
        font-size:12px;
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    .pub-view{
        display:inline-block;
        width:70px;
        height:24px;
        font-size:12px;
        color:#000000;
        font-weight:bold;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .publication-circle{
        width:22px;
        height:20px;
        background-color: #0000001A;
        border-radius:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0 0 0 15px;
        padding:10px;
    }
    .pub-img{
        display:flex;
    }
    .pub-about{
        width:555px;
        color:#000000;
        font-size:16px;
        margin:0 0 60px;
        padding:0 15px;
    }
    .pub-design-img{
        width:535px;
        height:360px;
    }
    .pub-img-details{
        width:535px;
        height:300px;
        color:#00000080;
        font-size:16px;
        padding:120px 30px 0 0;
    }
    .pub-date-d{
        width:525px;
        height:24px;
        font-size:16px;
        color:#00000080;
        margin:0 0 30px;
    }
    .pub-tech-d{
        display:inline-block;
        width:101px;
        height:24px;
        color:#ff9800;
        font-size:12px;
        margin:0 15px 0 0;
    }
    .pub-year-d{
        display:inline-block;
        width:92px;
        height:24px;
        color:#00000080;
        font-size:12px;
    }
    .pub-header-d{
        width:525px;
        height:67px;
        color:#000000;
        font-size:28px;
        margin:0 0 30px;
    }
    .pub-description-d{
        width:525px;
        height:48px;
        font-size:16px;
        color:#00000080;
        margin:0 0 30px;
    }
    .readmore-btn{
        width:141px;
        height:40px;
        font-size:12px;
        display:flex;
        align-items:center;
    }
    .pub-readmore-d{
        display:inline-block;
        width:86px;
        height:24px;
        font-size:12px;
        color:#000000;
        font-weight:bold;
        display: flex;
        align-items: center;
    }
    .readmore-circle{
        width:40px;
        height:40px;
        color:#000000;
        background-color: #0000001A;
        border-radius: 50%;
        margin:0 0 0 15px;
        display:flex;
        align-items:center;
        justify-content: center;
    }
    .readmore-arrow{
        display:inline-block;
        width:15px;
        height:11px;
         display:flex;
        align-items:center;
        justify-content: center;
    }
/* } */

@media screen and (max-width:1024px) {
    .publications {
        display: flex;
        flex-direction: column;
    }

    .pub-nav {
        display: flex;
        flex-direction: column;
        font-size: 50px;
    }

    .pub-head {
        text-align: left;
        padding-left: 30px;
        font-size: 60px;
    }

    .pub-view {
        text-align: left;
        padding-left: 30px;
        font-size: 20px;
        margin-bottom: 40px;
    }

    .pub-img {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }

    .pub-about {
        text-align: left;
        margin-bottom: 100px;
    }

    .pub-courses {
        text-align: left;
    }

    .pub-img img {
        width: 95%;
    }

    .pub-date-d {
        font-size: 25px;

    }

    .pub-tech-d {
        color: #ffa500
    }

    .pub-year-d {
        color: #808080;
    }

    .pub-header-d {
        font-size: 30px;
    }

    .pub-description-d {
        color: #808080;
        margin-bottom: 40px;
    }

    .pub-readmore-d {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .pub-date-c {
        font-size: 25px;

    }

    .pub-tech-c {
        color: #ffa500
    }

    .pub-year-c {
        color: #808080;
    }

    .pub-header-c {
        font-size: 30px;
    }

    .pub-description-c {
        color: #808080;
        margin-bottom: 40px;
    }

    .pub-readmore-c {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .pub-courses {
        text-align: left;
        margin-bottom: 100px;
    }

    .pub-courses br {
        display: none;
    }

    .pub-about br {
        display: none;
    }
}