@media screen and (min-width:1025px){
.team {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    overflow-x: hidden;
}

.team-description h2 {
    font-size: 100px;
    text-align: left;
    padding-left: 250px;
    padding-top: 100px;
    margin-bottom: 50px;
    
}
.team-p {
    color: #808080;
    font-size: 20px;
    padding-left: 50px;
    padding-left: 250px;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 50px;
    width:50%;

}
.btn-read-more {
    width: 300px;
    height:50px;
    padding: 50px;
    font-weight: bold;
    text-align: left;
    border-radius: 50px;
    border: none;
    background-color: #ffa500;
    margin-left: 250px;
    cursor: pointer;
}
.team-circle{
     width:70px;
    height:70px;
    border:1px solid #000000;
    background-color: #000000;
    color:#ffa500;
    border-radius: 50%;
     display:flex;
    align-items: center;
    justify-content: center;
    margin-left:43%;
    margin-top:-80px;
    cursor: pointer;
}
.team-arrow{
    width:70px;
    height:70px;
    border:1px solid #000000;
    background-color: #000000;
    color:#ffa500;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:30px; 
    cursor: pointer;  
}
.team-result {
    padding-top:0px;
    text-align: left;
    padding-left: 250px;
    font-size: 30px;
}

.team-bold {
    font-weight: bold;
}
.team-img{
    display:flex;
    justify-content: start;
   margin-bottom: 150px;;
}

.anna {
    width: 70%;
    padding-top:130px;
}

.oscar {
    width: 70%;
    padding-top: 50px; 
}
.emma {
    width: 70%;
    padding-top: 200px;  
}
.lisa {
    width: 70%;
    padding-top: 50px;
    margin-top: 10px;
   
}
 .art-director,.frontend,.founder,.Ui-design{
        position:relative;
    }
    .content{
        width:80%;
        height:80%;
        position:absolute;
        top:0;
        left:0;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        opacity: 0;
        transition: 0.6s;
       
    }
    .content h2{
        font-size:22px;
        color:#ffffff;
        padding-top:100%;
        margin-bottom: 10px;
    }
    .content p{
        font-size:15px;
        color:#808080;
        font-weight: bold;
    }
    .anna:hover{
        background:#808080;
        object-fit: cover;
    }
    .content:hover{
        opacity: 1;

    }
    .content:hover h2{
        color:#ffa500;
        cursor: pointer;
    }
}
@media screen and (max-width:1024px) {
    .team {
        display: flex;
        flex-direction: column;
        margin-bottom:80px;
    }
   
    .team-description h2 {
        display: flex;
        font-size: 50px;;
        padding-left: 50px;
        flex-direction: column;
        text-align: left;
    }
.team-p{
    font-size:20px;
    color:#808080;
    margin-left:50px;
    line-height:1.6;
    margin-bottom:80px;
}
.btn-read-more {
    width: 300px;
    height:10px;
    padding: 40px;
    font-weight: bold;
    text-align: left;
    border-radius: 50px;
    border: none;
    background-color: #ffa500;
    margin-left: 50px;
}
.team-circle{
    width:50px;
    height:50px;
    border:1px solid #000000;
    background-color: #000000;
    color:#ffa500;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left:28%;
    margin-top: -65px;
    margin-bottom: 100px;;
}
.team-arrow{
    width:50px;
    height:50px;
    border:1px solid #000000;
    background-color: #000000;
    color:#ffa500;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:30px;

    
}
.team-result{
    margin-left:50px;
    margin-bottom:100px;
    font-size:30px;
}
.team-bold{
    font-size:30px;
    font-weight:bold;
}
    .team-description br {
        display: none;
    }

    .team-description span {
        display: inline;
    }
    .tema-img,.team-founder{
        display:flex;
        width:100%;
    }
    .anna,.oscar,.emma,.lisa{
        width:90%;
        display:block;
        margin:auto;
    }
    .art-director,.frontend,.founder,.Ui-design{
        position:relative;
        
    }
    .content{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        display:flex;
        background-color: rgba(0,0,0,0.1);
        align-items: center;
        justify-content: center;
        flex-direction:column;
        opacity: 0;
        transition: 0.6s;
       
    }
    .content h2{
        font-size:22px;
        color:#ffffff;
        padding-top:60%;
        margin-bottom: 10px;
    }
    .content p{
        font-size:15px;
        color:#808080;
        font-weight: bold;
    }
    .anna:hover{
        background:#808080;
    }
    .content:hover{
        opacity: 1;

    }
    .content:hover h2{
        color:#ffa500;
        cursor: pointer;
    }

}