@media screen and (min-width:1025px){
.customer-voice {
    background: #808080;
    width:100%;
    height:130vh
}
.cv-head {
    display:inline-block;
    margin-top:120px;
    text-align: right;
    align-content: flex-end;
    margin-left:50%;
    font-weight:bold;
    font-size:20px;
    color:#ffffff;
    margin-bottom:100px;

}
.cv-bolds{
    font-size: 80px;
    font-weight: bold;
    margin-left:30%;
}

.cv-lights{
    font-size: 80px;
    font-weight: normal;
    padding-left: center;
}
.cv-header{
    margin-bottom: 150px;;
}
.customer-details{
    display:flex;
    padding:0 25%;
}
.customer-img{
    width:90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 30px;
    cursor: pointer;
}
}
@media screen and (max-width:1024px){
    .customer-voice{
        background-color:#808080;
        text-align:center;
        align-items: right;
        padding-top:150px;
    }
    .cv-head{
        display:inline-block;
        color:#ffffff;
        font-size:20px;
        margin-bottom:50px;
    }
    .cv-lights{
        display:inline-block;
        font-size:50px;
    }
    .cv-bolds{
        font-weight:bold;
    }
    .cv-lights br{
        display:none;
    }
    .customer-img{
    width:90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
}
.person-detail p{
    text-align: center;
}
.customer-details{
    text-align: center;
}
}
