/* @media screen and (min-width:1025px){ */
.customer-voice{
    width:100vw;
    height:100%;
    color:#00000080;
    background-color: #F2F2F2;
    font-size:16px;
    font-family:"Outfit", sans-serif;
    padding:120px 30px;
}
.customer-voice-1{
    margin:0 164px;
}
.cv-head{
    width:945px;
    height:48px;
    color:#00000080;
    font-size:16px;
    margin:0 0 60px;
    display:flex;
    align-items:right;
    justify-content: right;
}
.cv-lights{
    display:inline-block;
    width:1140px;
    height:163px;
    color:#000000;
    text-align: center;
    font-size:68px;
    margin:0 0 60px;
}
.cv-bolds{
    font-weight: bold;
}
.customer-details{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    width:1140px;
    height:140px;
    margin:0 0 60px;
}
.img-customer1{
    width:90px;
    height:90px;
    border-radius: 50%;
    background: #ff9800;
    padding:10px;
}
.img-customer2{
    width:90px;
    height:90px;
    border-radius: 50%;
    background: #ff9800;
    margin:30px 0 0;
    padding:10px;
}
.customer-img{
    width:90px;
    height:90px;
    background-color:#FF0000;
    border-radius: 50%;
}
.person1{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:1170px;
    /* height:307px; */
    margin:0 -15px;
}
.person1 h5{
    text-align: center;
    width:750px;
    height:30px;
    font-size:20px;
    color:#000000;
    font-weight:bold;
    margin:0 0 10px;
}
/* } */
@media screen and (max-width:1024px){
    .customer-voice{
        background-color:#808080;
        text-align:center;
        align-items: right;
        padding-top:150px;
    }
    .cv-head{
        display:inline-block;
        color:#ffffff;
        font-size:20px;
        margin-bottom:50px;
    }
    .cv-lights{
        display:inline-block;
        font-size:50px;
    }
    .cv-bolds{
        font-weight:bold;
    }
    .cv-lights br{
        display:none;
    }
    .customer-img{
    width:90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
}
.person-detail p{
    text-align: center;
    width:80%;
    margin-left:100px;
}
.customer-details{
    text-align: center;
}
}
