.studio{
    width:100%;
    max-width:1140px;
    height:100%;
    max-height:1950px;
    margin:0px auto;
    padding:120px 30px 30px;
    font-family:"Outfit", sans-serif;
    display:flex;
    gap:160px;
}
.left-section{
    flex:1;
    min-width:280px;
    font-size:16px;
    padding:0px 15px;
}
.left-studio{
    max-width:915px;
    color:#00000080;
    font-size:16px;
    margin:0px 0px 90px;
}
.stu-header{
    font-size:68px;
    color:#000000;
    margin:0px 0px 60px;
    font-weight: bold;
}
.stu-head{
    font-weight:100;
}
.stu-description,.stu-description-1{
    width:100%;
    font-size:16px;
    line-height:1.6;
    margin:0px 0px 30px;
}
.stu-description-1{
    margin:0px 0px 60px;
}
.about-image{
    display:flex;
    max-width:100%;
    font-size:16px;
    align-items: center;
    gap:20px;
}
.profile-img{
    width:80px;
    height:80px;
    border-radius: 50%;
    flex-shrink:0;
}
.pause-circle{
      width:30px;
    height:30px;
    border-radius: 50%;
    background-color: #ffa500;
     margin-left:60px;
    margin-top:-40px;
}
.pause{
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: #ffa500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-det{
   flex:1;
    font-size:18px;
    line-height: 1.6;
    padding:0px 0px 0px 30px;
    display:felx;
}
.bold{
    font-weight: 500;
    font-size:17px;
    color:#000000;
}
.light{
    font-weight:100;
}
.right-section{
   flex:1;
   min-width:280px;
   max-width:900px;
   padding:0px 15px;
   display:flex;
   justify-content: center;
}
.stu-img{
    width:90%;
    max-width:900px;
    height:100%;
    object-fit:cover;
}
@media (max-width: 992px) {
  .studio {
    max-width: 100%;
    height:100%;
    margin:0;
    display:flex;
    flex-direction: column;
    gap: 40px;
    padding: 90px 30px 0;
  }
  .stu-header {
    text-align: left;
  }
  .stu-description,
  .stu-description-1 {
    width:90%;
    text-align: left;
   
  }
  .about-image {
    justify-content: left;
  }
  .right-section{
      height:90%;
      padding-bottom: 50px;
  }
   /* .stu-img{
    width:90%;
    height:80%;
  } */
}
@media (max-width: 600px) {
  .studio {
    flex-direction: column;
    align-items: left;
    padding: 60px 15px;
  }
  .stu-header {
    font-size: clamp(1.8rem, 6vw, 2.5rem);
    text-align: left;
  }
  .stu-description,
  .stu-description-1 {
    font-size: 0.9rem;
    text-align: left;
  }
  .img-det {
    text-align: left;
  }
  .stu-img{
    width:90%;
  }
  .profile-img{
    display:flex;
    align-items: left;
    justify-content: left;
  }
}
     
