  .navbar {
  position: fixed;  
  max-width:1520px;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
        
}
.logo {

  font-size: 42px;
  font-weight: 500; 
  padding:30px 50px;
}
.icon {
  font-size: 42px;
  cursor: pointer;  
   padding:30px 50px;
}
.menu {
  width: 80%;
  height: 80%;
  padding: 50px;
  background-color: white;
  border: 2px solid black;
}
.menu h2 {
  margin-bottom: 20px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .navbar {
    background-color: black;   
    color: white;
    width:100%;
    border-bottom: 1px solid #808080;               
  }

@media (max-width: 783px) {
  .navbar {
    background-color: black;   
    color: white;
    width:100%;
   border-bottom: 1px solid #808080;            
  }
}}
