     body{
        font-family:"Outfit", sans-serif;
        margin:0;
        padding:0;
    }
    .footer{
    background-color: #000000;
    color: #ffffff;
    width: 100%;
 
    }
    .footer-content{
        display:flex;
        flex-direction:column;
        max-width:1140px;
        max-height:705px;
        margin:0 auto;
        padding: 125px 30px 60px;
    }
    .footer-top{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        color:#00000080;
        min-height: 360px;
        font-size:16px;
        margin:0 -15px;
    }
    .footer-left{
        max-width:360px;
        height:100%;
        font-size:16px;
        margin:0 0 60px;
        padding:0 15px;
    }
    .footer-left h2{
        color:#ffffffE6;
        font-size:42px;
        margin:0 0 30px;
    }
    .footer-left p{
       min-width:200px;
        color:#ffffff66;
        font-size:16px;
        margin:0 0 30px;
    }
    .email{
        width:100%;
        max-width:250px;
        height:70px;
        background-color:#ffffff1A;
        border-radius: 100px;
        display:flex;
        align-items: center;
        justify-content: center;
        margin:0 0 30px;
        padding:0 0 0 50px;
        cursor:pointer;
    }
    .email input{
        background-color: transparent;
        width:70%;
        font-weight: bold;
        font-size:16px;
        border: none;
    }
    .email:hover {
        cursor:pointer;
        background:#ffffff;
    }
    .footer-circle{
        width:20px;
        height:20px;
        color:#000000;
        font-size:12px;
        background-color: #ff9800;
        border-radius:50%;
        padding:10px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .footer-arrow{
        font-weight: 500px;
        width:14px;
        height:11px;
    }
    .footer-center{
        color:#ffffff;
        min-width:200px;
        font-size:16px;
       padding:0 15px;
       cursor:pointer;
    }
    .footer-center-links{
      list-style:none;
      display: flex;
      flex-direction: column;
      gap:20px;
     
    }
    .footer-center-links a{
      text-decoration: none;
      color: #ffffff;       
      font-size: xx-large;
      transition: color 0.3s ease;
    }
    .footer-center-links a:hover{
      color:#ff9800;
    }  
    .footer-right{
        padding:0 15px;
    }
     .footer-right ul li{
        list-style: none;
        color:#ffffff66;
        font-size:16px;
        margin-bottom:25px;
     }
     .footer-bottom{
        min-width:200px;
        font-size:16px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        min-height: 165px;
        margin:0 -15px;
     }
     .copyright{
        width:555px;
        height:24px;
        font-size:16px;
        color:#ffffff66;
     }
     .footer-address{
        font-size:16px;
        margin:0 0 60px;
        padding:0 15px;
     }
     .footer-address h1{
        font-size:18px;
        color:#ffffffE6;
        margin:0 0 30px;
     }
     .footer-address p{
        color:#ffffff66;
        font-size:16px;
     }

@media (max-width: 992px) {
  .footer-top {
    display:flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-bottom {
    display:flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }

  .footer-left h2 {
    font-size: 28px;
  }

  .active,
  .active-folio,
  .active-service,
  .active-contact,
  .active-blog {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .footer {
    padding: 40px 15px 15px;
  }
   .footer-top {
    display:flex;
    flex-direction: column;
  }
  .footer-left,.footer-center,
  .footer-right{
      width:25%;
  }
  .footer-bottom {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .footer-left h2 {
    font-size: 24px;
  }

  .footer-left p,
  .footer-right ul li,
  .footer-center ul li {
    font-size: 14px;
  }

  .email {
    min-width: 50%;
    height: 70px;
  }

  .footer-circle {
    width: 28px;
    height: 28px;
    font-size: 10px;
  }
}
