/* @media screen and (min-width:1025px){ */
.studio{
    width:74vw;
    height:100%;
    margin:0px 164px;
    padding:120px 30px 30px;
    font-family:"Outfit", sans-serif;
    display:flex;
    gap:165px;
}
.left-section{
    /* width:487px; */
    /* height:733px; */
    font-size:16px;
    padding:0px 15px;
}
.left-studio{
    width:457px;
    height:643px;
    color:#00000080;
    font-size:16px;
    margin:0px 0px 90px;
}
.stu-header{
    width:457px;
    height:163px;
    font-size:68px;
    color:#000000;
    margin:0px 0px 60px;
}
.stu-head{
    
    width:187px;
    height:85px;
    display:inline-block;
}
.stu-description{
    width:457px;
    height:120px;
    font-size:16px;
    margin:0px 0px 30px;
}
.stu-description-1{
    width:457px;
    height:120px;
    font-size:16px;
    margin:0px 0px 60px;
}
.about-image{
    display:flex;
    width:457px;
    height:90px;
    font-size:16px;
    align-items: center;
    justify-content: center;
}
.profile-img{
    width:90px;
    height:90px;
    border-radius: 50%;
}
.pause-circle{
      width:30px;
    height:30px;
    border-radius: 50%;
    background-color: #ffa500;
     margin-left:60px;
    margin-top:-30px;
}
.pause{
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: #ffa500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-det{
    width:367px;
    height:54px;
    font-size:18px;
    padding:0px 0px 0px 30px;
    display:felx;
}
.bold{
    font-weight: 500;
    color:#000000;
}
.right-section{
    width:528px;
    height:845px;
    padding:0px 15px;
}
.stu-img{
    width:457px;
    height:822px;
}
/* } */
@media screen and (max-width:1024px) {
    .studio {
        flex-direction: column;
        padding: 20px;
        width: 100%;
    }
    .stu-head1{
        font-size:50px;
    }
    .stu-header {
    flex: 1;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}
    .about-image {
        display:flex;
        align-items: flex-start;
        margin-bottom: 50px;
        padding-top:50px;
    }

    .left-section {
        order: 1;
    }

    .right-section {
        order: 2;
    }
    .stu-description {
    flex: 1;
    color: #808080;
    font-size: 20px;
    width: 94%;
    margin-bottom: 50px;
    line-height: 1.6;
    }
    .img-det {
        display: flex;
        margin-bottom: 50px;
        padding-top:40px;
    }
    .stu-image{
        display:flex;
        width:100px;
        height:100px;
    }
    .profile-img{
        width:100px;
        height:100px;
        border-radius:50%;
        margin-bottom:50px;
    }
    .bold{
        font-weight:bold;
    }
    .bold,.light{
        font-size: 20px;;
    }
    .pause{
        width:40px;
        height:40px;
        background-color:#ffa500;
        border-radius:50%;
        display:flex;
        align-items:center;
        justify-content: center;
        margin-top: 70px;
        margin-left:-40px;
    }
    .stu-header br{
        display:none;
    }
    .stu-img{
        width:90%;
        margin-left:30px;
    }
}
